#startButton  {
    width: 198px;
    height: 47.008px;
    cursor: pointer;
    /* color: #fff; */
    /* font-size: 17px; */
    /* border-radius: 1rem; */
    /* border: none; */
    position: relative;
    /* background: #100720; */
    background-color: rgba(150, 74, 232, 0.16);
    box-sizing: border-box;
    --tw-border-opacity: 1;
    border-color: rgb(150 74 232 / var(--tw-border-opacity));
    border-style: solid;
    transition: 0.1s;
  }
  
  #startButton::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 94, 247, 1) 17.8%,
      rgba(2, 245, 255, 1) 100.2%
    );
    filter: blur(35px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #startButton:hover {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(255, 94, 247, 1) 17.8%,
      rgba(2, 245, 255, 1) 100.2%
    );
    transition: 0.5s;
  }
  