@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;